<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header :: header"></head>
<body>

<div th:fragment="selected-goods">
    <div class="starter-template">
        <div th:if="${list != null}">
            <table>
                <tr th:each="item : ${list}">
                    <td th:text="${item.name}" th:id="${'itemname_'+(item)}"/>
                    <td th:text="${'   --£'+(item.price)}" th:id="${'itemname_'+(item)}"/>
                    <td><th:input id="submit" type="button" th:onclick="'removeItem(\''+${item.name}+'\');'" style="color: #FF0000; border: none; background: none; cursor: pointer;">X</th:input></td>
                </tr>
            </table>
        </div>
        <div style="margin-top: 20px; margin-bottom: 10px;">
            <span th:text="'Sub-Total: £' + ${subTotal}"></span>
        </div>
    </div>
</div>

</body>
</html>