<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Online Shopping Basket</title>

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css"/>
</head>
<body>
    <div>
        <div class="starter-template">
            <h1>Online Shopping Basket</h1>
        </div>
    </div>

    <div th:if="${list != null}">
        <ul>
            <li th:each="item : ${list}" th:text="${item}">Item description here...</li>
        </ul>
    </div>

    <div>
        <span th:text="'Sub-Total: ' + ${subTotal}"></span>
    </div>

    <form action="#" th:action="@{/items}" th:object="${item}" method="post">
        <p>Select Item: <select th:field="*{name}">
            <option value="default" th:text="'Select Item'"/>
            <option value="Apple" th:text="'Apple'"/>
            <option value="Bread" th:text="'Bread'"/>
            <option value="Milk" th:text="'Milk'"/>
            <option value="Soup" th:text="'Soup'"/>
        </select>
            <input type="submit" value="Submit" /></p>
    </form>

    <form action="#" th:action="@{/checkout}" method="post">
        <p><input type="submit" value="Checkout"/> </p>
    </form>



    <script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>