<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Online Shopping Basket</title>

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css"/>
</head>
<body>
    <div class="container">
        <div class="starter-template">
            <h1>Online Shopping Basket</h1>
        </div>
    </div>

    <div class="container">
        <div class="starter-template">
            <h2>
                <span th:text="'Total: ' + ${total}"></span>
            </h2>
        </div>
    </div>

    <div th:if="${list != null}">
        <ul>
            <li th:each="item : ${list}" th:text="${item}">Item description here...</li>
        </ul>
    </div>

    <form action="#" th:action="@{/items}" th:object="${item}" method="post">
        <p>Message: <input type="text" th:field="*{name}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>


    <script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>